@media print {
  html {
    font-size: 32%;
  }

  .container {
    max-width: none;
  }

  main {
    padding: $u6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  ul,
  ol {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 15px;
    list-style: disc;

    li {
      padding: 0;

      &:before {
        display: none;
      }
    }
  }

  nav,
  form,
  .button {
    display: none;
  }
}
