.image.is-lazy {
  position: relative;
  overflow: hidden;

  &.has-blur {
    .image-placeholder img {
      opacity: 1;
    }
  }

  &.is-loading {
    .image-placeholder {
      opacity: 1;
    }

    .image {
      opacity: 0;
    }
  }

  .image-placeholder {
    opacity: 0;
    transition: .25s opacity linear;
    height: 0;
    background-size: cover;

    img {
      opacity: 0;
      transition: .25s opacity linear;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: url("#image-blur");
    }
  }

  .image-content {
    transition: .25s opacity linear;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
