.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 45;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop() {
    grid-gap: $gap * 2;
  }

  > .overlay {
    z-index: 1;
  }
}

.button.modal-close {
  background-color: $orange;
  position: absolute;
  top: -($gap / 2);
  right: $gap;
  justify-self: center;
  border: 0;
  border-radius: 2px;
  box-shadow: .2rem .2rem .4rem rgba($black, .3);
  z-index: 3;
  color: $black;

  &:hover:not([disabled]) {
    background-color: darken($orange, 10%);
    color: $black;
  }
}

.modal-body {
  position: relative;
  background-color: $cream;
  box-shadow: .2rem .2rem .4rem rgba($black, .3);
  border-radius: 2px;
  max-height: calc(50% - #{$gap});
  z-index: 2;
  max-width: calc(80% - #{$gap});
  width: 100%;
  height: 100%;
  padding: $u6;

  @include tablet() {
    max-width: calc(80% - #{$gap * 2});
    max-height: calc(50% - #{$gap * 2});
  }

  .button.filter-button:not(.is-visible) {
    top: $gap * 1.5;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .modal.is-page & {
    width: 100%;
    height: 100%;
    max-width: $container;
    max-height: calc(100% - #{$gap * 2});
  }

  .modal.is-alert & {
    width: 100%;
    height: auto;
    max-width: 50rem;
    max-height: none;
    padding: $gap;
    margin-left: $gap;
    margin-right: $gap;
  }

  .modal.is-image & {
    width: 100%;
    height: auto;
    max-width: 70rem;
    max-height: none;

    .modal-content {
      padding: 0;
    }
  }

  .modal.is-video & {
    padding: 0;
    height: auto;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    max-width: 90%;

    .iframe-container {
      margin: 0;
      background-color: $black;
      box-shadow: .2rem .2rem .4rem rgba($black, .3);
      border-radius: 2px;
    }
  }
}
